@font-face { 
    font-family: 'Futura PT'; 
    src: url('../font/FuturaPT.ttf')  format('truetype');  
    font-weight: normal; 
    font-style: normal; 
  }
* {
    margin: 0;
    padding: 0;
}
body {
   color: #6a6a6a;
   box-sizing: border-box;
   font-family: 'Futura PT' , Arial, sans-serif;
}
header {
    background-image: url('../img/map-final-02-fade-min.png');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}
.container  {
    /* border:1px solid red; */
    max-width: 1370px;
    margin: auto;
    position: relative;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.menu {
    display: flex;
    padding: 0px 0 40px 0;
    vertical-align: middle;
    align-items: center;
    margin-left: 40px;
    justify-content: space-between;
}
.link {
    text-decoration: none;
    color: #6a6a6a;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    margin-left: 30px;
}
.ferst {
    color: #dc4128;
}
.ferst:after {
    content: '';
    position: absolute;
    width: 78px;
    height: 46px;
    border-bottom: 4px solid #dc4128;
    left: 16%;
}
.lang-search {  
    display: flex;
    padding: 0px 0 40px 0;
}
.lang {
    color: #dc4128;
}
.search    {
    margin-left: 20px;
}
.text {
    width: 650px;
    
    padding-top: 410px;

}
.text-subscr {      
    text-rendering: optimizeLegibility;
    font-size: 1.3rem;
    line-height: 24px;
    font-weight: 600;
    margin-left: 20px;
}
.text-title {
    color: #dc4128;
    font-size: 24px;
    line-height: 55px;
    padding-bottom: 20px;
    margin-left: 15px;
}
.block-bottom {
    height: 100hv;
    display: flex;
}
.arrow {
    background-image: url(../img/top-arrow-01.svg);
    width: 122%;
    background-repeat: no-repeat;
    background-position-y: 68px;
    
}
.woman  {
    background-image: url(../img/bg-top-02-md-min.png);
    height: 106%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right 45%;
}
.may {  
    position: absolute;
    right: 0;
    color: #fff;
    bottom: 5%;
    font-size: 60px;
}
.bg   {
    background: rgb(1,0,4);
    background: linear-gradient(0deg, rgba(0,0,0,1) 30%, rgba(232,232,237,1) 100%, rgba(184,192,194,1) 100%);
}
.main {
    background-image: url(../img/Block2.jpg);
    height:85vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top 20%;
    /* opacity: 25%; */
}
.content {
    margin-top: 100px;
    margin-bottom: 25px;
    display: inline-block;
    width: 670px;
}
.year {
    color: #000;
    font-size: 48px;
    font-weight: 800;
}
.content-text {
    color: #000;
    font-size: 20px;
    font-weight: 500;
}
.oborona {
    display: inline-block;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    margin-top: 90px;
}
.content-title {
    display: inline-block;
    background-color: #dc4128;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
    padding: 10px 8px;
}
.button {
    background-color: #dc4128;
    padding: 15px 30px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none;
    display: flex;
    margin-top: 180px;
    text-transform: uppercase;
}
.footer {
    /* margin-top: 20px; */
}
.social-link {
    margin-left: 21px;
    
   
  
}
/* .img-link {
    border: 2px solid #dc4128;
    border-radius: 50%;
    width: 40px;
    height: 40px;
} */